@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* ====DEFAULTS==== */

html {
  font-size: 56.25%;
}

body {
  width: 100vw;
  max-width: 650px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.btn {
  text-decoration: none;
  background: none;
  border: none;
}
